/* General Settings */
* {
  border: none;
  border-radius: 8;
  font-family: "FiraCode Nerd Font";
  font-size: 16px;
  min-height: 20px;
}

#waybar > box > * {
  padding: 0 10px;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  margin-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: transparent;
  background: transparent;
}

/* Left Modules */
#workspaces {
  margin-top: 6px;
  margin-left: 12px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0px;
  border-radius: 10px;
  background: #282828;
  transition: none;
}

#workspaces button {
  transition: none;
  color: #fbf1c7;
  background: transparent;
  border-radius: 2px;
}

#workspaces button.active {
  color: #fe8019;
}

#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #fe8019;
  border-color: #d65d0e;
}

/* Center Modules */
#clock {
  margin-top: 6px;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #fae3b0;
}

/* Right Modules */
#wireplumber {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #1a1826;
  background: #fae3b0;
}

#cpu {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #fae3b0;
}

#memory {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #fae3b0;
}
